@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/root/root.css);
@import url(../mix/show.css);

/* Импорт header */
@import url(../blocks/header/header.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__square-pic/header__square-pic.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__main-illustration/header__main-illustration.css);
/* Основные цвета в макете:
серый фон #1f1f1f
серый фон #f2f2f2
синий (ссылки, фигуры) #2f80ed
Черный текст #000000 */

.show {
  border: 2px solid #1476e6;
}

.nospace {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "inter", Arial, sans-serif;
  color: #000000;
}

.logo {
  width: 228px;
  height: 32px;
  background-repeat: none;
  background-position: center center;
}
.logo_place_header {
  background-image: url("../images/logo_place_header.svg");
  margin-top: 30px;
  margin-left: 64px;
}

.description {
  display: flex;
  justify-content: center;
}
.two-colums {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.two-colums__brief {
  display: block;
  width: 175px;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}
.two-colums__main-text {
  min-width: 784px;
  width: 80%;
}
.two-colums__paragraph {
  margin: 0;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-colums__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.techniques {
  width: 80%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title {
  margin-top: 0;
  margin-bottom: 20px;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: semibold;
}
.section-subtitle {
  margin: 0;
  width: 60%;
  text-align: center;

  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.cards {
  width: 920px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}
.cards__item {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
  text-align: center;
}

.cards__item_no-margin {
  margin-right: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 80px;
  margin: 60px 40px 43px;
}
.cards__title {
  margin: 0;
  margin-bottom: 16px;

  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}
.cards__description {
  margin: 0;
  margin-bottom: 60px;

  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.digits{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
}

.table_digits{
margin-bottom: 100px;

}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__heading {
/* margin: 0; */
margin-top: 0;
margin-bottom: 20px;
/* Параметры шрифта */
line-height: 1.15;
font-size: 24px;
font-weight: semibold;


}
.table__text {
  margin: 0;
  margin-bottom: 20px;
/* Параметры шрифта */
line-height: 1.2;
font-size: 18px;
font-weight: normal;

}

.top-space {
  margin-top: 100px;
}

.top-space_kaufman {
  margin: 0%;
  padding-top: 100px;
}


.top-space_digits {
  margin-top: 40px;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
/* .header__square-pic {
  height: 568px;
  width: 568px;
} */

/* и элемента с модификатором вида ключ-значение */



.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #1d1d1d;
}

.section-title_dark-theme {
  color: white;
}

.section-subtitle_dark-theme {
  color: white;
}

.table_theme_dark{
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table__text_theme_dark{

  margin: 0;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources-box {
  margin: 80px auto 217px;
  display: flex;
  flex-direction: row;


}

.resources__logo-zone {
  width: 270px;
  height: 38px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.resources__logo-zone_logo_arzamas {
 background-image: url("../images/logo/resources-arzamas.svg");
}
.resources__logo-zone_logo_n1 {
background-image: url("../images/logo/resources-n1.svg");
}
.resources__logo-zone_logo_strelka {
background-image: url("../images/logo/resources-strelka.svg");
}
.resources__logo-zone_logo_polka {
background-image: url("../images/logo/resources-polka.svg");
}
